<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973325226015-lafeduubkusndc76omrt8sribr5sbmhl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973325226015-lafeduubkusndc76omrt8sribr5sbmhl</string>
	<key>API_KEY</key>
	<string>AIzaSyCfVitxn4CoMd1gU1Dx3uSUygq_t6aIJVY</string>
	<key>GCM_SENDER_ID</key>
	<string>973325226015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoshitaka.PadeLife</string>
	<key>PROJECT_ID</key>
	<string>padelife-d96e8</string>
	<key>STORAGE_BUCKET</key>
	<string>padelife-d96e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973325226015:ios:8e1671514e9224b590052a</string>
</dict>
</plist>